/* start -- loader */
.page-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    background: url("/assets/media/loader/page_loader.gif") 50% 50% no-repeat rgb(249,249,249);
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 9999;
}
/* end -- loader */